body{
    margin: 0;
    padding: 0;
}

.sobre{
    display: flex;
    justify-content: space-around;
    height: 700px;
}

.texto {

    display: flex;
    justify-content: left;
    flex-direction: column;
}

.texto h1{
    
    height: 200px;
    justify-content: center;
    font-family: var(--fonteSubTitulos);
    color:#00AFEF;


    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em
}

.texto h4{
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family:  var(--fonteTextos2);
    color: #505050;        

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    align-items: center;
    float: left;
    width: 500px;

}


.banner{

    display: flex;
    justify-content: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.container1 div{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container1 h1 {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--fonteSubTitulos);



    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
    letter-spacing: -0.02em;
    color: #00AFEF;


}

.container2{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.div1 {

    background-image: url(https://tse4.mm.bing.net/th?id=OIP.kk19_BPEumwlUR8UFmH07wHaEK&pid=Api&P=0);
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    float: left;
}


.div2 {

    background-image: url(https://tse1.mm.bing.net/th?id=OIP.C1qWSN1AqoIc8dcARjikywHaEo&pid=Api&P=0);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    float: left;


}


.div3 {

    background-image: url(https://tse4.mm.bing.net/th?id=OIP.Dn5FQ_A6RHO221isXOehXwHaE8&pid=Api&P=0);
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    float: left;


}


.div4 {

    background-image: url(https://tse4.mm.bing.net/th?id=OIP.Dn5FQ_A6RHO221isXOehXwHaE8&pid=Api&P=0);
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;


}


.div5 {

    background-image: url(https://tse4.mm.bing.net/th?id=OIP.Dn5FQ_A6RHO221isXOehXwHaE8&pid=Api&P=0);
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;


}


.div6 {

    background-image: url(https://tse4.mm.bing.net/th?id=OIP.Dn5FQ_A6RHO221isXOehXwHaE8&pid=Api&P=0);
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;


}

