.conteudo{
    display: flex;
}

.formulario {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 273px;
    width: 202px;
}

#saldacao{
    font-family: var(--fonteSubTitulos);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #0098ce;
}

input{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;
border: 0.7px solid #000000;
border-radius: 9px;
}

#botão{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 180px;
    height: 33px;
    background: #0098CE;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0;
    font-family: var(--fonteTitulos);
    color: white
}

.ircadastro li{
    text-decoration: none;
    font-size: 9px;
    font-family: var(--fonteTextos2);
}
.ircadastro li a{
    text-decoration: none;
    font-size: 9px;
    font-family: var(--fonteTextos2);
}