.container  div{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    margin-top: 1px;
    border: black currentColor 1px;

}

.space{
    margin-bottom: 20%;
}